    .footer {
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
    }
    .footer-card h4  {
        color: var(--text-heading-color);
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 400;
        /* margin-top: 24px; */
    }
    .footer-card img {
        object-fit: cover;
        width: 150px;
        height: 50px;
        transform: translateX(-4%);
    }
    .footer-social {
        list-style-type: none;
        padding: 0;
        margin: 26px 0 0 0;
    }
    .footer-social li {
        margin-right: 10px;
        padding: 12px;
        border: 1px solid #dbdbdb;
        border-radius: 6px;
    }
    .footer-social li:hover {
        border-color: var(--primary-color);
        cursor: pointer;
    }
    .footer-social li a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 18px;
        transition: color 0.3s ease;
    }
    .footer-social li:hover a {
        color: var(--primary-color);
    }
    .footer-social li a i {
        text-shadow: 0 0 1px currentColor;
    }
    .footer-card .contact-list {
        margin: 0;
        list-style-type: none;
        padding: 0;
    }
    .footer-card .contact-list li {
        padding: 8px 0;
        font-size: 15px;
        color: var(--text-color);
    }
    .footer-link {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .footer-link li {
        padding: 8px 0;
    }
    .footer-link li a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 15px;
        transition: ease-in-out 0.2s;
    }
    .footer-link li a:hover {
        cursor: pointer;
        color: var(--primary-color);
        text-decoration: underline;
    }
    .link-map {
        text-decoration: none;
        color: var(--text-color);
        transition: ease-in-out 0.2s;
    }
    .link-map:hover {
        cursor: pointer;
        color: var(--primary-color);
        text-decoration: underline;
    }
    .footer-suport {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .footer-suport li {
        padding: 8px 0;
    }
    .footer-suport li a {
        color: var(--text-color);
        text-decoration: none;
        transition: ease-in-out 0.2s;
    }
    .footer-suport li a:hover {
        cursor: pointer;
        color: var(--primary-color);
    }

    .sub-footer {
        height: 80px;
        color: var(--text-color);
    }
    .sub-footer a {
        color: var(--text-color);
        text-decoration: none;
        font-weight: 600;
        transition: ease-in-out 0.2s;
    }
    .sub-footer a:hover {
        color: var(--primary-color);
        cursor: pointer;
        
    }