@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./header.css";
@import "./home.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

:root {
    --primary-color: #19A8FF;
    --secondary-color: #F6F6F4;
    --red-color: #DF0906;
    
    --text-heading-color: #252A2B;
    --text-color: #5C5C5C;
    --white-color: #ffff;
}