.overlay {
    position: fixed;
    top: 109px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 900;
    display: none;
}

.category-block,
.search-history {
    position: absolute;
    z-index: 1000;
    background: white;
}